.nav, .main {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  overflow: hidden;
}

.card_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  width: 20%;
}

.card_img {
  width: 60px;
  height: 60px;
}

.card:hover {
  cursor: pointer;
}

.card_front {
  position: absolute;
  background-color: rgb(15, 0, 135);
  border: thick double rgb(250, 150, 0);
  border-radius: 0.5rem;
  padding: 1rem;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.8s;
}

.flipped .card_front {
  transform: rotateY(0deg);
}

.card_back {
  border: thick double rgb(15, 0, 135);
  border-radius: 0.5rem;
  padding: 1rem;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 0.8s;
}

.flipped .card_back {
  transform: rotateY(180deg);
}

.btn_reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  padding: 0.5rem;
}

.btn_reset:hover {
  cursor: pointer;
}

.time {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.icon {
  margin-left: 0.3rem;
  width: 1rem;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 1rem;
  }
  .card {
    width: 25%;
    padding: 1rem;
  }
  .card_img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .card_img {
    width: 30px;
    height: 30px;
  }
}

